<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.min.css}"/>
    <title>新建投票</title>
    <style type="text/css">
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }

        .bg-light {
            background-color: #f8f9fa !important;
        }

        .py-5 {
            padding-bottom: 3rem !important;
            padding-top: 3rem !important;
        }

        .text-center {
            text-align: center !important;
        }

        .lead {
            font-size: 1.25rem;
            font-weight: 300;
        }
    </style>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">二部投票系统</a>
</nav>
<main role="main" class="container">
    <div class="py-5 text-center">
        <h2>投票基础信息</h2>
        <p class="lead">填写投票基础信息后，进行下一步投票项导入。</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">基本信息</h4>
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <label for="username">投票标题</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            投票标题必须填写
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">投票地点</label>
                    <input type="text" class="form-control" id="address" placeholder="" required="">
                    <div class="invalid-feedback">
                        请输入投票地址
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">注意事项</label>
                    <textarea type="text" class="form-control" id="tips" placeholder=""></textarea>
                </div>

                <div class="mb-3">
                    <label for="address">描述</label>
                    <textarea type="text" class="form-control" id="description" placeholder=""></textarea>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">规则范围</h4>

                <div class="row" style="margin-left: 240px;margin-bottom: 16px">
                    <div class="custom-control custom-radio col-md-3">
                        <input id="isNot" name="role" type="radio" class="custom-control-input" checked=""
                               required="">
                        <label class="custom-control-label" for="isNot">否同</label>
                    </div>
                    <div class="custom-control custom-radio col-md-3">
                        <input id="sort" name="role" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="sort">排序</label>
                    </div>
                    <div class="custom-control custom-radio col-md-3">
                        <input id="count" name="role" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="count">打分</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="roleList">规则</label>
                        <select class="custom-select d-block w-100" id="roleList" required="">
                            <option value="">选择...</option>
                            <option>同意</option>
                            <option>否决</option>
                        </select>
                        <div class="invalid-feedback">
                            选择一项规则
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="max">范围（最大）</label>
                        <input type="text" class="form-control" id="max" placeholder="" required="">
                        <div class="invalid-feedback">
                            填写最大数量
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="min">范围（最小）</label>
                        <input type="text" class="form-control" id="min" placeholder="" required="">
                        <div class="invalid-feedback">
                            填写最小数量
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">下一步</button>
            </form>
        </div>
    </div>
</main>

</body>

</html>