<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span sec:authorize="isAuthenticated()">
                | 当前用户: <span sec:authentication="name"></span> |
                    <!--                角色: <span sec:authentication="principal.authorities"></span> |-->
                <a th:href="@{/logout}">注销</a>
            </span>

                <div>
                    <p class="text-center">lark出品 &copy; 2019</p>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript"
            src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap-table/1.15.4/dist/bootstrap-table.min.js"></script>
</div>
</body>
</html>