<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="votes">
    <table class="do-table" width='100%' border='0' cellspacing='0' cellpadding='0' align='center' >
<!--        <tr class="do-tr">-->
<!--            <td>标题</td>-->
<!--            <td>时间</td>-->
<!--            <td>描述</td>-->
<!--            <td>操作</td>-->
<!--        </tr>-->
        <tr class="do-tr" th:each="vote : ${pager.votes}">
            <td class="do-td"><h5 style="float: left;" th:text="${vote.title}">Title</h5></td>
            <td class="do-td" th:text="${#dates.format(vote.createDate, 'yyyy-MM-dd')}">--/--/--</td>
            <td class="do-td" th:text="${vote.body}">-</td>
            <td class="do-td">
                <a class="btn btn-primary btn-sm" th:href="@{'/vote/' + ${vote.id}}" role="button">进入</a>
                <a class="btn btn-primary btn-sm" th:href="@{'/vote/' + ${vote.id}}" role="button">编辑</a>
                <a class="btn btn-primary btn-sm" th:href="@{'/vote/' + ${vote.id}}" role="button">删除</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>