
footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

a {
    transition: all .2s;
}

a:hover, a:focus, a:active {
    color: purple;
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-center {
    text-align: center !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.d-inline {
    display: inline;
}

.do-right {
    margin-left: auto;
}

/*.do-table tr:first-child {*/
/*    background: #0066CC !important;*/
/*    color: #fff !important;*/
/*    font-weight: bold !important;*/
/*}*/

.do-table {
    border: 0pt solid #d7d7d7 !important;
    margin: 0 auto !important;
}

.do-td {
    padding: 5px 10px !important;
    text-align: center !important;
    border-right: 0pt solid #d7d7d7 !important;
    border-bottom: 0pt solid #d7d7d7 !important;
}

/*.do-tr:nth-of-type(odd) {*/
/*    background: #d7d7d7 !important;*/
/*}*/

/* odd 标识奇数行，even标识偶数行 */
.do-tr:hover {
    background: #f0f0f0 !important;
}

.do-tr {
    border-radius: 4px;
    border-top: 1pt solid #d7d7d7 !important;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input, .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.card-nopadding {
    padding: 0rem !important;
}

.do-content {
    height: 56px;
}

.do-head {
    background: #f0f0f0 !important;
}

.bg-customer{
    background: linear-gradient(to right, rgba(0, 123, 255, 0.5), white);
    margin-top: 24px;
}
