<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">错误 java.lang.NullPointerException</h1>
    <h1 th:if="!${errorMessage}">404 - 未找到当前页</h1>
    <a href="index.html" class="btn btn-primary" th:href="@{/home}">返回到主页</a>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>