<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>投票系统</title>-->

    <div th:replace="/fragments/header :: header-css"/>

</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div style="width: 100%; margin-top: -16px; margin-bottom: -16px">
    <div class="bg-primary pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">欢迎来到投票系统，</h2>
            <p class="lead">请点击右上角导航菜单进行投票系统的体验。</p>
        </div>
        <img th:src="@{/hero-illo.svg}" style="width: 480px;margin-bottom: 32px"/>
    </div>
    <!--    <div th:replace="/fragments/votes :: votes"/>-->

    <!--    <div th:replace="/fragments/pagination :: pagination(URLparameter='/home')"/>-->

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>