<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header-css" />
</head>

<body class="bg-light">
<div th:replace="/fragments/header :: header" />
<!--
<div>
   否同
    <span th:if="${item.rules} eq 1">
        <div>点击为否同</div>
        <div th:text="${item.rules}">规则</div>
    </span>
</div>
-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/votes/' + ${#authentication.getName()}}">我的投票</a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{'/vote/' + ${item.getVote().id}}"
                                           th:text="${item.getVote().title}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="'第'+${item.turnNum}+'轮投票项'">新建一轮投票</li>
        </ol>
    </nav>

    <div class="card border-dark mb-3">
        <div class="card-header">
<!--            <button class="btn btn-outline-primary btn-sm">新增</button>-->
            <button class="btn btn-outline-danger btn-sm">删除</button>
            <div style="float: right">
                <a href="/item/export" class="btn btn-link">下载模板</a>

                <button type="button" class="btn btn-primary btn-sm" id="importExcel" th:onclick="|showImportModel()|">导入</button>
                <button type="button" class="btn btn-secondary btn-sm">新增</button>
            </div>
        </div>
        <div class="card-body text-primary card-nopadding">
            <table id="table"></table>
        </div>
    </div>
    <!--上传框-->
    <div class="modal fade" id="importModel" tabindex="-1" role="dialog" aria-labelledby="importTitle"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importTitle">导入投票选项</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger tips-hide" role="alert" id="customerTips">文件格式错误，仅限 <strong>XLSX</strong>或<strong>CVS</strong>格式！</div>
                    <div class="input-group mb-3">
                        <input type="file" id="file" name="myfile"/>
                        <label for="file" hidden="hidden">选择文件</label>
                    </div>
                    <!-- 文件框 -->
                    <h6>上传进度</h6>
                    <progress id="progressBar" value="0" max="100" style="width: 100%;"></progress>
                    <span id="percentage"></span>
                    <span id="time"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary copy-code" id="copyCode" th:onclick="'javascript:excelImport('+${item.id}+')'" data-clipboard-target="#code">
                        上传
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footer" />

<script th:inline="javascript">
    function showImportModel() {
        $('#importModel').modal('show');
    }
    let data = JSON.parse([[${voteItems}]] || '[]')
    let $table = $('#table')
    let $remove = $('#remove')
    let selections = []
    let rules = [[${item.rules}]] // 规则范围



    //定义按钮事件
    function excelImport(voteId) {
        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        var url = window.location.origin + "/item/import"; // 接收上传文件的后台地址
        var form = new FormData(); // FormData 对象
        if (form) {
            form.append("file", fileObj); // 文件对象
        }
        xhr = new XMLHttpRequest(); // XMLHttpRequest 对象
        xhr.open("post", url, false); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.onload = uploadComplete; //请求完成
        xhr.onerror = uploadFailed; //请求失败
        xhr.upload.onprogress = progressFunction; //【上传进度调用方法实现】
        xhr.upload.onloadstart = function () { //上传开始执行方法
            ot = new Date().getTime(); //设置上传开始时间
            oloaded = 0; //设置上传开始时，以上传的文件大小为0
        };
        xhr.setRequestHeader("itemId", voteId);
        xhr.send(form); //开始上传，发送form数据
    }

    //上传成功响应
    function uploadComplete(evt) {
        if (evt.target.status) {
            window.location.reload();
        } else {
            alert("上传失败！");
        }

    }
    //上传失败
    function uploadFailed(evt) {
        alert("上传失败！");
    }

    //上传进度实现方法，上传过程中会频繁调用该方法
    function progressFunction(evt) {
        var progressBar = document.getElementById("progressBar");
        var percentageDiv = document.getElementById("percentage");
        // event.total是需要传输的总字节，event.loaded是已经传输的字节。如果event.lengthComputable不为真，则event.total等于0
        if (evt.lengthComputable) { //
            progressBar.max = evt.total;
            progressBar.value = evt.loaded;
            percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
        }
        var time = document.getElementById("time");
        var nt = new Date().getTime(); //获取当前时间
        var pertime = (nt - ot) / 1000; //计算出上次调用该方法时到现在的时间差，单位为s
        ot = new Date().getTime(); //重新赋值时间，用于下次计算
        var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b
        oloaded = evt.loaded; //重新赋值已上传文件大小，用以下次计算
        //上传速度计算
        var speed = perload / pertime; //单位b/s
        var bspeed = speed;
        var units = 'b/s'; //单位名称
        if (speed / 1024 > 1) {
            speed = speed / 1024;
            units = 'k/s';
        }
        if (speed / 1024 > 1) {
            speed = speed / 1024;
            units = 'M/s';
        }
        speed = speed.toFixed(1);
        //剩余时间
        var resttime = ((evt.total - evt.loaded) / bspeed).toFixed(1);
        time.innerHTML = '，速度：' + speed + units + '，剩余时间：' + resttime + 's';
        if (bspeed == 0) time.innerHTML = '上传已取消';
    }

    // 表格方法
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function showModel(id) {
        $(id).modal('show');
    }

    /**
     * 初始化表格
     */
    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 550, // 初始高度
            clickToSelect: true,
            minimumCountColumns: 2,
            idField: 'id',
            sidePagination: 'server',
            // locale: $('#locale').val(), // 语言类型
            // 列操作栏
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '序号',
                    field: 'voteItemId',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    field: 'name',
                    title: '姓名',
                    align: 'center'
                },
                {
                    field: 'attr1',
                    title: '性别',
                    align: 'center',
                },
                {
                    field: 'attr2',
                    title: '部门',
                    align: 'center',
                },
                {
                    field: 'attr3',
                    title: '职称',
                    align: 'center',
                },
                {
                    field: 'arrt4',
                    title: '年龄',
                    align: 'center',
                },
                {
                    field: 'arrt4',
                    title: '入职年限',
                    align: 'center',
                }
                // {
                //     field: '',
                //     title: '投票规则',
                //     align: 'center',
                //     formatter:function(value, row, index){
                //         return [
                //              '<a class="remove" href="javascript:void(0)" title="Remove">',
                //                 '投票',
                //              '</a>'
                //         ].join('')
                //     }
                // }
            ],
            data: data
        })
    }

    $(function () {
        initTable()
        $('#importModel').on('hide.bs.modal', function (a,b,c) {
            if(a.type === 'hide') {
                $('#file').val('')
            }
        })
        $('#file').on('change', function() {
            // 存在文件
            if(this.files.length > 0) {
                // 是 xlsx || csv 格式
                if(this.files[0].name.indexOf('.xlsx') !== -1 || this.files[0].name.indexOf('.csv') !== -1) {
                    $('.fileName').html(this.files[0].name);
                    $('#customerTips').addClass('tips-hide');

                    $('#copyCode').removeAttr("disabled");
                    return;
                }else {
                    $('#customerTips').removeClass('tips-hide');
                    $('#copyCode').attr("disabled",'disabled');
                }
            }
        })
        $('#locale').change(initTable)
    })
</script>
</body>

</html>