<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>投票单轮统计</title>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body class="bg-light">
<div th:replace="/fragments/header :: header"/>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/votes/' + ${#authentication.getName()}}">我的投票</a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{'/vote/' + ${item.getVote().id}}" th:text="${item.getVote().title}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="'第'+${item.turnNum}+'轮统计结果'">新建一轮投票</li>
        </ol>
    </nav>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div style="float: right">
                <button type="button" class="btn btn-primary btn-sm" id="exportExcel" th:onclick="|showExportModel()|">导出</button>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>
</div>
</body>
</html>