<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body class="bg-light">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <style>
        .normal {
            color: #000000;

        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 16px">
    <div class="container">
        <a class="navbar-brand" style="color: #ffffff;">二部投票系统</a>
    </div>
</nav>

<div class="container" th:if="${item.status}==2">
    <div class="jumbotron jumbotron-fluid mb-3">
        <div class="container">
            <h1 class="display-5" th:text="${item.getVote().title}">无标题</h1>
            <p class="lead" th:text="${item.getVote().body}">无描述</p>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card border-dark mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal ">投票规则</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-primary">
                    <div th:switch="*{item.rules}">
                        <div th:case="1">
                            <span th:text="${item.agreeRule == '1' ? '同意' : '否决'}"></span>
                            <small class="text-muted">/ 否同</small>
                        </div>
                        <div th:case="2">
                            <span>排序</span>
                        </div>
                        <div th:case="3">
                            <span>评分</span>
                        </div>
                    </div>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div th:switch="*{item.rules}">
                        <div th:case="1">
                            <li th:text="${'大于'+ item.agreeMin}"></li>
                            <li th:text="${'小于'+ item.agreeMax}"></li>
                        </div>
                        <div th:case="3">
                            <li th:text="${'大于'+ item.minScore}"></li>
                            <li th:text="${'小于'+ item.maxScore}"></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="card border-dark mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">投票说明</h4>
            </div>
            <div class="card-body">
                <div class="card-text text-primary" th:text="${item.body}">
                    暂无说明
                </div>
            </div>
        </div>
        <div class="card border-dark mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">投票情况</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-primary">
                    <span th:text="${item.memberNum}">0/</span>
                    <small class="text-muted" th:text="'/'+${item.memberSize}+'人'">--</small>
                </h1>
            </div>
        </div>
    </div>
    <!--    <div class="alert alert-danger" th:if="${showAlertMessage}" th:utext="${showAlertMessage}"></div>-->
    <div class="card border-primary mb-3">
        <div class="card-header">
            <span>投票项</span>
        </div>
        <div class="card-body text-primary card-nopadding">
            <table id="voteTable"
            ></table>
        </div>
    </div>
    <div style="text-align: end"><span th:if="${item.rules} == '1'" id="votedStatus"></span></div>
    <hr class="mb-4"/>
    <div class="row">
        <div class="col-md-12 mb-3">
            <button id="voteDone" type="submit" class="btn btn-primary btn-block">提交</button>
        </div>
    </div>
</div>

<div class="row" th:if="${item.status}!=2">
    <div class="col-md-4">
        <div class="jumbotron">
            <h1>
                <span>该轮次投票状态为：</span><br/>
                <span th:text="${itemStatus}"></span>
            </h1>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                提交成功！正在跳转，请稍等<span id="result"></span>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" th:if="${item.status}==2">
    投票项列表
</div> -->


<div th:replace="/fragments/footer :: footer"/>
</body>
<script type="text/javascript" th:inline="javascript">
    const voteOption = {
        rules: [[${item.rules}]], // 规则范围 1否同 2排序 3打分
        agreeRule: [[${item.agreeRule}]], // 1为同意 0为否决
        agreeMax: [[${item.agreeMax}]], // 否同最大范围
        agreeMin: [[${item.agreeMin}]], // 否同最小范围
        description: [[${item.description}]], // 说明
        maxScore: [[${item.maxScore}]], // 最大分数
        minScore: [[${item.minScore}]], // 最小分数
    }
    const hasVotes = JSON.parse([[${userVoteItems}]] || '[]')
    const data = JSON.parse([[${voteItems}]] || '[]') // voteItem
    const $table = $('#voteTable') // 当前页面表格
    let titleConfig = [[${item.vote.excelHeader}]] // excelHeader
    // 表头 column title
    // 已投票数
    let votedCount = 0

    $(function () {
        if (titleConfig) {
            titleConfig = initTitleConfig(titleConfig)
        } else {
            // null.map不存在的错误
            titleConfig = []
        }
        let allOrder = data
                .map(function (item, index) {
                    return index * 1 + 1
                }),
            delOrder = [];
        let currentVal = '';
        let currentValue = ''
        window.operateEvents = {
            // 打分
            'change .voteInput': function (e, value, row, index) {
                if (!isPass($(e.target).val(), row.item.minScore, row.item.maxScore)) {
                    return
                }

                //
                row.score = $(e.target).val()
                $._fraction.push(initDataItem(row))
            },
            // 投票
            'click .castVote': function (e, value, row, index) {

                if ($(e.target).attr('class') === '') {
                    return

                }
                                      votedCount++;
                    $('#votedStatus').text("已投票数："+votedCount+"/"+data.length)
                $(e.target).text('已投').removeClass('castVote')
                $._voteArr.push(initDataItem(row, 'castVote', '1'))
            },
            // 排序点击事件回调
            'mousedown .selectVote': function (e, value, row, index) {
                // 点击排序时, 绘制option
                let html = ''
                allOrder = [...new
                Set(allOrder)
            ]
                if (value) {
                    currentVal = value;
                    currentValue = '<option selected="true" value="' + value + '">' + value + '</option>'
                } else {
                    // # 146 排序下拉问题
                    // 未清空html模板值
                    currentVal = '';
                    currentValue = ''
                }
                html = [
                    '<option value="">请选择</option>',
                    currentValue
                ].concat(
                        sorts(allOrder)
                            .map(
                                function (item) {
                                    return '<option value="' + item + '">' + item + '</option>'
                                }
                            )
                    )
                    .join('')
                $(e.target).html(html)
            },
            // 排序选择事件回调
            'change .selectVote': function (e, value, row, index) {

                currentValue = ''
                row.SerialNumber = $(e.target).val()
                data[index] = row
                columnOperation(data, $(e.target).val(), delOrder, allOrder, currentVal)
                currentVal = ''
            }
        }
        // 已提交
        if (hasVotes.length > 0) {
            $('#voteDone').attr('disabled', 'disabled')
            $('#voteDone').text("已提交")
        }
        initTable({
            rules: voteOption.rules,
            titleConfig: titleConfig,
            data: data,
            hasData: hasVotes,
            clickToSelect: false
        })

        $('#voteDone').on('click', function (e) {
            var e = window.event || e
            let requestBody = []
            if (voteOption.rules === '2') {
                if (data.filter(function (item) {
                    if (!item.SerialNumber) {
                        return item
                    }
                }).length > 0) {
                    alert('排序填写不完整');
                    return;
                }
            }

            if ($._voteArr) {
                if ($._voteArr.length > 0) {
                    requestBody = $._voteArr.concat(
                        delHasItem(
                            data,
                            $._voteArr.map(function (item) {
                                return item.voteItem.voteItemId
                            }),
                            'agreeFlag'
                        )
                    )
                }
            } else if ($._fraction) {
                if ($._fraction.length > 0) {
                    requestBody = $._fraction.concat(
                        delHasItem(
                            data,
                            $._fraction.map(function (item) {
                                return item.voteItem.voteItemId
                            }),
                            'score'
                        )
                    )
                }
            } else {
                requestBody = data.map(function (item, index) {
                    return initDataItem(item)
                })
            }
            request({
                url: window.location.origin + "/userVote/add" + window.location.pathname.replace('/userVote', ''),
                data: JSON.stringify(requestBody)
            })

        })
    })

</script>
<script type="text/javascript" th:src="@{/js/voteItem.js}"></script>
</html>